html {
    margin:0;
    padding:0;
    color:#000;
    background:#162DB3;
}

body {
    /* background-color: #4F6AFF; */
	/* background-color: #fff; */
	background-color: #162DB3;
	min-width: 800px;
}

#wrapper{
	background-color: #4F6AFF;
	/* height: 800px; */
	margin: 50px;
	padding: 20px;
}

#header{
	text-align: center;
	border-bottom: solid 3px #162DB3;
	font-size: 80px;
	color: #fff;
	margin-bottom: 2%;
}

#nav{
	/* border: 3px #B3B2B2 solid; */
	/* padding: 15px; */
	width: 10%;
	float: left;
	margin-left: 1%;
	min-width: 80px;
	width: 90px;
	
}
#nav a:link {
	color: #fff;
}
#nav a:visited {
	color: #E3E2E2;
}
#nav a:hover {
	color: #B3B2B2;  
}

#body{
	margin-left: 10%;
	/* border: solid 5px #B3B2B2; */
	width: 80%;
	min-width: 1000px;
	/* min-height: 600px; */
	/* height: 700px; */
}

.iframe {
	/* margin: auto; */
	/* padding: auto; */
	margin-left: 5%;
	margin-top: 2%;
}

.download {
	padding: 10px;
	font-size: 18px;
	text-align: center;
}
.download a:link {
	color: #fff;
}
.download a:visited {
	color: #E3E2E2;
}
.download a:hover {
	color: #B3B2B2;
}

#splashMessage{
	text-align: center;
	font-size: 18px;
	margin-top: 10px;
}

.SpacerForCode{
	margin-left: 6%;
}
